.topnav {
  overflow: hidden;
  background-color: dodgerblue;
}

.topnav a {
  float: left;
	width: 30.3333%;
  display: block;
  color: white;
  text-align: center;
  padding: 1% 1.5%;
  text-decoration: none;
}

.topnav a:hover {
  background-color: lightblue;
}

.content {
	padding: 14px 16px;
	margin: 10px 20px;
}

.footnote {
	display: block;
	color: white;
	margin-top: 10px;
	padding: 14px 16px;
	background-color: dodgerblue;
}

.footnote a {
	color: white;
}

body {
	margin:0px;
}
